{% extends "base.html" %}

{% block title %} Edit credentials {% endblock %}

{% block head %}<script type = "text/javascript" src = "{{ url_for('static', filename = 'credentials.js') }}"></script>{% endblock %}

{% block content %}
    <h3><u>User Administration</u></h3>
    <p>For usernames, only <b>letters</b> are accepted.</p>
    <p>For password, <b>Min 8 chars</b> and at least <b>1 Uppercase</b>, <b>1 Lowercase</b>, <b>1 Digit</b>, <b>1 Special Character</b>. 
    <p><b>Trailing</b> and <b>leading</b> whitespaces will be <b>trimmed</b>.</p>
    <hr>

    <table border = "1px solid black" width = '600px' style = "text-align : center">
        <tr>
            <th><p>Index</p></th>
            <th>Username</th>
            <th>Administrator</th>
            <th>Discount Rate(%)</th>
            <th>Edit</th>
        </tr>

        {% for credential in credentials %}
            {% set username = credential[0] %}
            {% set is_admin = credential[1] %}
            {% set discount_rate = credential[2] %}

        <tr>
            <td><p>{{ loop.index }}</p></td>
            <td>{{ username }}</td>
            <td>{{ is_admin }}</td>
            <td>{{ discount_rate }}</td>
            <td><button type = "button" onclick = 'populate_credentials_table("{{ username }}", "{{ is_admin }}", "{{ discount_rate }}")'>Edit</button></td>
        </tr>
        {% endfor %}
    </table><hr>

    <form action = "/credentials/save" method = "POST">
        <table width = '500px' style = "text-align: center">
            <tr>
                <td>
                    <label for old_username = "old_username_text_box">Old Username :</label>
                </td>

                <td>
                    <input type = "text" name = "old_username" id = "old_username_text_box" value = "{{ username }}" readonly placeholder = "Edit.">
                </td>
            </tr>

            <tr>
                <td>
                    <label for new_username = "new_username_text_box">New Username :</label>
                </td>

                <td>
                    <input type = "text" name = "new_username" id = "new_username_text_box" placeholder = "New Username.">
                </td>
            </tr>

            <tr>
                <td>
                    <label for new_password = "new_password_text_box">New Password :</label>
                </td>

                <td>
                    <input type = "password" name = "new_password" id = "new_password_text_box" placeholder = "Enter Password.">
                </td>
            </tr>

            <tr>
                <td>
                    <label for confirm_new_password = "confirm_new_password_text_box">Confirm New Password :</label>
                </td>

                <td>
                    <input type = "password" name = "confirm_new_password" id = "confirm_new_password_text_box" placeholder = "Enter Password again.">
                </td>
            </tr>

            <tr>
                <td>
                    <label for discount_rate = "discount_rate_number_box">Discount Rate :</label>
                </td>

                <td>
                    <input type = "number" name = "discount_rate" id = "discount_rate_number_box" step = "5" min = "5" max = "50" placeholder = "Eg 10">
                </td>
            </tr>

            <tr>
                <td>
                    <label for is_admin = "is_admin_option_box">Admin Privilege :</label>
                </td>

                <td>
                    <select name = "is_admin" id = "is_admin_option_box">
                        <option value = "no">no</option>
                        <option value = "yes">yes</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan = "2">
                    <p><button type = "submit" id = "btn_save_changes">Save Changes</button></p>
                </td>
            </tr>

            <tr>
                <td colspan = "2">
                    <a href = '/admin'>Back to Main Menu</a>
                </td>
            </tr>

            {% if message | length %}
                <tr>
                    <td colspan = "2"> 
                        <br>
                        {{ message }}
                    </td>
                </tr>
            {% endif %}
        </table>
    </form>

    {% if success | length %}
        <script>alert("{{ success }}");</script>
    {% endif %}
{% endblock %}
